<label>Name</label>
<%# 'author.name' - inserts the value of author.name, escaping it for safety %>
<%# 'author.name' - accesses the name property from the author object %>
<input type="text" name="name" value="<%= author.name%>" />
