<label>Name</label>

<input type="text" name="name" value="<%= author.name%>" />

<!-- EXPLANATION --
    When a form containing an <input> element is submitted, 
    the 'name' attribute defines the key that will be sent to the server 
    along with the input's value. The server receives these as name-value pairs 
    So if author = { name: "Alice" }, then the input will render as:
    <input type="text" name="name" value="Alice" /> 
-->